/* General */
.blog {
    background-color:  #DDFBB3;
    padding: 50px 0px;
}

.blog-text {
    text-align: center;
}

.blog-text p {
    margin-top: 20px;
}

/* General Tarjetas */
.blog-contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
    margin: 2rem;
}

/* Tarjetas */
.tarjeta {
    grid-column-end: span 4;
    background-color: #FCF9F2;
    border-radius: 10px;
    border: 2px solid black;
    /* height: 600px; */
}

.tarjeta img {
    width: 100%;
    height: 50%;
}

.tarjeta-etiqueta {
    background-color: #FE97E8;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

.tarjeta-etiqueta-planeacion {
    background-color: #9DDCF9;
}

.tarjeta h3 {
    font-size: 20px;
    margin: 15px;
}

.tarjeta p {
    font-size: 18px;
    margin: 15px;
}

/* Tarjetas autor */

.tarjeta-autor {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 15px;
    align-items: center;
    margin-top: 30px;
}

.tarjeta-autor img {
    border-radius: 1000px;
    width: 15%;
    margin-right: 10px;
}

.tarjeta-autor-meta {
    display: flex;
    flex-direction: column;
}

.tarjeta-autor-meta p {
    margin: 0;
}

.autor {
    font-weight: 500;
}